@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: "IBM Plex Mono", monospace;
}
.header__wrapper {
    width: 100%;
    height: 100vh;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
.header {
    max-width: 1300px;
    width: 100%;
    padding: 26px 95px;
    background-color: #1B1B1B;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}
.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__navigation, .nav__socials {
    display: flex;
}


.nav__item:not(:first-child) {
    margin-left: 70px;
}
.nav__item a {
    font-size: 16px;
    color: #9C9C9C;
    position: relative;
}
.nav__item:hover a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 50%;
    height: 2px;
    background-color: rgb(63, 142, 0);
    border-radius: 3px;
    transition-duration: .3s;

}
.nav__socials li:not(:first-child){
    margin-left: 25px;
}
.intro__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__bar h1 {
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}
.info__bar h2 {
    color: #9C9C9C;
    font-size: 16px;
    margin-top: 20px;
}
.info__btn {
    display: inline-block;
    vertical-align: top;
    padding: 21px 64px;
    margin-top: 30px;
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    transition-duration: .3s;

}
.info__btn:hover {
    background-color: #408e0063;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
}
.info__btn img{
    margin-left: 10px;
}
.work__bar-title {
    color: #fff;
}
.pricture__bar img {
    transition-duration: .3s;
    border-radius: 50%;
    border: 1px solid transparent;
}
.pricture__bar img:hover {
    border-color: rgba(63, 142, 0, 0.7);
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
}
.programms {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.program {
    width: 180px;
    height: 60px;    
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .3s;
}
.program img {
    max-width: 82px;
    width: 100%;
}

.program:hover {
    border: 1px solid #62BA1B;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
}
.case__studies {
    margin-top: 100px;
}
.title {
    color: #080808;
    font-size: 34px;
    text-align: center;
}

.desc {
    max-width: 570px;
    width: 100%;
    color: #9C9C9C;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;

}
.cases {
    margin-top: 60px;
}
.case:not(:first-child) {
    margin-top: 80px;
}
.case__row {
    display: flex;
    justify-content: space-between;
}
.case__row-info {
    padding-right: 26px;
    padding-top: 27px;
}
.case__row-info span {
    font-size: 12px;
    font-weight: bold;
    color: #FFA217;
    padding: 5px 10px;
    background-color: #FFF6E9;
    border-radius: 60px;
}
.case__title {
    color: #080808;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-top: 20px;
}
.case__desc {
    color: #9C9C9C;
    margin-top: 10px;
    line-height: 24px;
}
.case__btn {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding: 10px 24px;
    background-color: #FFA217;
    margin-top: 40px;
    border-radius: 4px;
     -webkit-box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    -moz-box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.1);
    
}
.case__btn img {
    margin-left: 10px;
}
.case__picture {
    max-width: 445px;
}
.case__odd .case__row-info {
    padding-right: 0;
    padding-left: 31px;
}
.case:nth-child(2) span {
    background-color: #D0E6FF;
    color: #000AFF;    
}
.case:nth-child(2) .case__btn {
    background-color: #000AFF;
}


.case:nth-child(3) span {
    background-color: #E0FFF8;
    color: #2AB090;    
}
.case:nth-child(3) .case__btn {
    background-color: #2AB090;
}
.testimonals {
    margin-top: 80px;
    padding: 80px ;
    background-color: #080808;
}
.testimonals__title {
    color: #fff;
}

.testimonals__desc {
    margin-top: 10px;
}
.testimonals__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tesimonal-wrapper {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 1px;
    background-image: linear-gradient(90deg,rgba(72, 72, 72, 1) 0%, rgba(27, 27, 27, 0) 100%);
    border-radius: 6px;
    margin-top: 60px;
    transition-duration: .3s;
}
.tesimonal-wrapper::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 15px;
    width: 23px;
    height: 23px;
    background-image: url("../img/testimonal-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonal {
    background-color: #080808;
    border-radius: 6px;
    padding: 30px;

}
.testimonal__desc {
    text-align: left;
}
.tesimonal__sender {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #fff;
}
.tesimonal__sender img {
    margin-right: 20px;
}
.tesimonal-wrapper:hover {
    -webkit-box-shadow: 0px 8px 30px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 8px 30px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 30px 0px rgba(255, 255, 255, 0.3);
    transform: scale(1.01);
}
.recent {
    padding: 80px 0;
}
.recent__content {
    margin-top: 60px;
    position: relative;
}
.recent__row {
    display: flex;
    justify-content: space-between;
}
.recent__card {
    max-width: 500px;
}
.recent__card img {
    width: 100%;
}
.recent__card-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #080808;
    margin-top: 40px;
}
.recent__card-desc {
    color: #9C9C9C;
    font-size: 14px;
    line-height:24px;
    margin-top: 20px;
}

.recent__card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    transition-duration: .3s;
    width: 140px;
    height: 38px;
}
.recent__card-btn:hover {
    background-color: rgba(63, 142, 0, 0.9);
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
}
.recent__card-btn img{
    margin-left: 10px;
    max-width: 5px;
}
#recent__prev {
    position: absolute;
    top: 50%;
    left: -65px;
    cursor: pointer;
}
#recent__next  {
    position: absolute;
    top: 50%;
    right: -65px;
    transform: rotate(180deg);
    cursor: pointer;
}

.get {
    padding: 80px 0;
    background-color: #080808;
}
.get .title {
    color: #fff;
}
.get__form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.get__item {
    display: flex;
    flex-direction: column;
}
.get__item:not(:first-child) {
    margin-top: 20px;
}
.get__item label {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.get__item input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 6px;
    outline: none;
    border: 0;
    padding: 0 12px;
}
.get__item textarea {
    height: 120px;
    border: 0;
    border-radius: 4px;
    padding: 12px;
}
.get__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.51);
    transition-duration: .3s;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.get__btn:hover {
    background-color: rgba(63, 142, 0, 0.9);
    -webkit-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    -moz-box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.7);
}
.get__btn img{
    margin-left: 10px;
    max-width: 5px;
}
footer {
    padding: 26px 0;
    background-color: #1B1B1B;
}
.footer__text{
    text-align: center;
    font-size: 14px;
    color: #9C9C9C;
}